@media (max-width: 770px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
}
.header {
    height: 100px;
    justify-content: center;
    &__logo {
        display: none;
    }
    &-nav {
        gap: 15px;
        align-items: center;
    &__button {
        display: none;
    }
}
}
.section {
    &-nav {
        flex-direction: column;
        gap: 10px;
    }
    &-content {
        justify-content: center;
    }
    &-cofe {
        justify-content: center;
    }
    &-dessert {
        justify-content: center;
    }
    &-snacks {
        justify-content: center;
    }
    &-reviews {
        justify-content: center;
    }
    &-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__map {
        width: 100vw;
    }
    &-top {
        &__content {
            width: auto;
        }
        &__main-text {
            font-size: 16px;
        }
        &__text {
            font-size: 12px;
            width: auto;
        }
        &__table {
            opacity: 0.5 ;
        }
        &__1 {
            opacity: 0.5 ;
        }
        &__2 {
            opacity: 0.5 ;
        }
        &__3 {
            opacity: 0.5 ;
        }
        &__4 {
            opacity: 0.5 ;
        }
        &__content {
          align-items: center;  
        }
        
    }
}
.cart {
    height: auto;
    &__content {
        gap: 10px;
    }
    &__title {
        font-size: 16px;
    }
    &__text {
        width: auto;
        font-size: 12px;
        padding-bottom: 6px;
    }
}
.footer {
    height: 100px;
    justify-content: center;
    &-container {
        display: none;
    }
}
}