@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 420px);
        padding-right: calc(50% - 420px); 
    }
    .header {
        &-nav {
            gap: 15px;
        }
    }
.section {
    &-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__map {
        width: 100vw;
    }
    &-content {
        justify-content: center;
    }
    &-cofe {
        justify-content: center;
    }
    &-dessert {
        justify-content: center;
    }
    &-snacks {
        justify-content: center;
    }
    &-reviews {
        justify-content: center;
    }
    &-top {
        &__table {
            opacity: 0.5 ;
        }
        &__1 {
            opacity: 0.5 ;
        }
        &__2 {
            opacity: 0.5 ;
        }
        &__3 {
            opacity: 0.5 ;
        }
        &__4 {
            opacity: 0.5 ;
        }
    }
}
}

@media (max-width: 770px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
}
.header {
    height: 100px;
    justify-content: center;
    &-nav {
        &__button {
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.section {
    &-nav {
        flex-direction: column;
        gap: 10px;
    }
    
    &__map {
        height: 450px;
    }
    &-top {
        &__content {
            width: auto;
        }
        &__main-text {
            font-size: 16px;
        }
        &__text {
            font-size: 12px;
            width: auto;
        }
        
        &__content {
          align-items: center;  
        }
        
    }
}

.footer {
    height: 100px;
    justify-content: center;
    &-container {
        display: none;
    }
}
}
@media (max-width: 585px) {
    .header {
    &__logo {
        display: none;
    }
    &-nav {
        align-items: center;
    &__button {
        display: none;
    }
}
}
.cart {
    height: auto;
    &__content {
        gap: 10px;
    }
    &__title {
        font-size: 16px;
    }
    &__text {
        width: auto;
        font-size: 12px;
        padding-bottom: 6px;
    }
}
}