@media (max-width: 770px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
}
.header-nav {
    gap: 15px;
}
.section {
    &-content {
        justify-content: center;
    }
    &-cofe {
        justify-content: center;
    }
    &-dessert {
        justify-content: center;
    }
    &-snacks {
        justify-content: center;
    }
    &-reviews {
        justify-content: center;
    }
    &-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__map {
        width: 100vw;
    }
    &-top {
        &__table {
            opacity: 0.5 ;
        }
        &__1 {
            opacity: 0.5 ;
        }
        &__2 {
            opacity: 0.5 ;
        }
        &__3 {
            opacity: 0.5 ;
        }
        &__4 {
            opacity: 0.5 ;
        }
        &__content {
          align-items: center;  
        }
        
    }
}
}